<div> <!-- card div-->
    <div><!-- div for image and label for the image-->
        <figure> 
            <img>
            <figcaption></figcaption>
        </figure>
    </div>
    <div><!-- Holds top comment, date, and likes-->
        <!-- Holds Top Comment label and date-->
        <div>
            <h3></h3>
            <span></span>
        </div>
        <span></span><!--Likes Count -->
    </div>
    <div>
        <span></span><!--Top Comment -->
    </div>
</div>
