<div > <!-- card div-->
    <div><!-- div for image and label for the image-->
        <figure> 
            <img src="https://post.healthline.com/wp-content/uploads/2020/05/435791-Forget-You-Have-Plants-11-Types-That-Will-Forgive-You_Thumnail.jpg" width="500px" length="500px">
            <figcaption>Plant</figcaption>
        </figure>
    </div>
    <div><!-- Holds top comment, date, and likes-->
        <!-- Holds Top Comment label and date-->
        <div>
            <h3>Top Comment</h3>
            <span>03/03/2000</span>
        </div>
        <span>Likes: 10</span><!--Likes Count -->
    </div>
    <div>
        <span>digggggg: wow that is such a cool plant</span><!--Top Comment -->
    </div>
</div>
