<div class="flex justify-around"><!-- move div around the dom-->
    <div class="flex flex-col rounded border-black border-2 box-border w-fit h-fit"> <!-- card div-->
        <div><!-- div for image and label for the image-->
            <figure class="relative"> 
                <img src="https://kahirihome.com/wp-content/uploads/2020/10/image-placeholder-500x500-1-5.jpg" width="500px" length="500px">
                <figcaption class="absolute bg-green-800 text-pink-900 left-0 bottom-0">Plant</figcaption>
            </figure>
        </div>
        <div class="flex flex-col content-center plantText">
            <div class="flex justify-between"><!-- Holds top comment, date, and likes-->
                <!-- Holds Top Comment label and date-->
                <div class="block">
                    <h3>Top Comment</h3>
                    <span>03/03/2000</span>
                </div>
                <span class="flex">Likes: 10</span><!--Likes Count -->
            </div>
            <div>
                <span class="block">digggggg: wow that is such a cool plant</span><!--Top Comment -->
            </div>
        </div> 
    </div>
</div>
