<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="/css/projectcss/project.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<video autoplay muted loop id="myVideo">
  <source src="/images/background.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="content">


 <header class="main_header">
    {{!-- <h1>The Tech Blog</h1> --}}
    {{!-- FOR AUDIO  --}}
   <div class="audio-controls">
	<button type="button" class="static audio mute"><i class="fa-solid fa-2x fa-volume-high"></i></button>
  	<button type="button" class="static audio unmute"><i class="fa-solid fa-2x fa-volume-xmark"></i></button>
</div>

    <img src="/images/logo.png" width="150" ></img>
    <img src="/images/site_name.png" width="300"></img>

  <nav>
    
    <a href="/">Home |</a>
    <a href="/askAdvice">Get Advice |</a>
     <a href="/yourplants"> Your Plants |</a>
    {{#if loggedIn}}  
    <button id="logout" class="logout_btn">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  </header>
  <main>
    <div class="body">
      {{{body}}}
    </div>
    
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/audioHowler.js"></script>
</div>

 
</body>

</html>