<div class="forms">
    <section><div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="input">
          <span>
          <i class="fa-solid fa-user-large"></i>
          </span>
        <input class="form-input" type="text" id="username-login"
        placeholder="username" />
      </div>
      <div class="input">
          <span>
     <i class="fa-solid fa-lock"></i></span>
        <input class="form-input" type="password" id="password-login"
         placeholder="password" /> 
      </div>
      <div class="login_btn">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
    
  </div></section>
<section ><div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="input">
    <span>  <i class="fa-solid fa-user-large"></i></span>
        <input class="form-input" type="text" id="username-signup"
        placeholder="username" />
      </div>
      
      <div class="input">
       <span>
     <i class="fa-solid fa-lock"></i></span>
        <input class="form-input" type="password" id="password-signup"
         placeholder="password" />
      </div>
      <div class="signup_btn">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div></section>
</div>
<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>