<section><div class="plant-form">
    <h2 class="page-title">Get Advice</h2>
    <form class="form">
      <div class="input">
          <span>
          <i class="fa-solid"></i>
          </span>
        <input class="form-input" type="text" id="plant-text"
        placeholder="What type of plant?" />
      </div>
      <div class="input">
          <span>
     <i class="fa-solid"></i></span>
        <input class="form-input" type="text" id="advice-text"
         placeholder="What seems to be the issue?" /> 
      </div>
      <div class="post_btn">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div></section>