<section><div class="advice_form plant-form  w-full max-w-sm content-center ">
    <h2 class="page-title">Get Advice</h2>
    <form class="form">
      <div class="input">
        <input class="form-input " 
        {{!-- block text-gray-700 text-sm font-bold mb-2 --}}
        type="text" id="plant-text"
        placeholder="What type of plant?" />
      </div>
      <div class="input">
        <input class="form-input " type="text" id="advice-text"
         placeholder="What seems to be the issue?" /> 
      </div>
      <div class="input">
        <input class="form-input block text-gray-700 text-sm font-bold mb-2" type="text" id="img-url"
        placeholder="Upload Image from URL"/>
      </div>
      <div class="post_btn">
        <button class="btn btn-primary" type="submit" id="advice-submit">Post</button>
      </div>
    </form>
  </div></section>
  <script src="/js/create-post.js"></script>