<div> <!-- div to move on the dom-->
    <div> <!-- div holding the two page objects details and comments-->
    {{#each plant as |plant}}
        <div> <!-- details with image and plant details-->
            <figure>
                <img>
            </figure>
            <div>
                

            </div>
        </div>
        <div> <!-- comment section-->
            
        </div>
    {{/each}}
    </div>
</div>